* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

*:focus {
    outline: 0;
}

:root {
    --g: #1A4D2E;
    --gg: #4F6F52;
    --w: #E8DFCA;
    --ww: #F5EFE6;
}

nav {
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(to right, var(--g) 20%, var(--gg));
    display: grid;
    grid-template-columns: 10.2% 40% 50%;
    align-items: center;
    position: absolute;
    top: 0;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

a {
    font-weight: 4rem;
    color: white;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 2px solid rgba(1, 1, 1, 0);
    transition: 0.4s ease;
}

a:hover {
    color: var(--w);
}

.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-logout {
    padding: 1vh 3vw;
    margin-right: 4vw;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}   

.button-logout:hover {
    background-color: var(--g);
    font-weight: 40vw;
    cursor: pointer;
}
/*  */
.container {
    max-width: 50vw;
    width:50vw;
    height:45vw;
    margin: 10vh auto;
    padding: 4vw;
    background-color: #fff;
    border-radius: 2vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
    margin-top:3vw;
}
.form-group {
    margin-bottom: 4vh;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 2vh;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="tel"] {
    width: 50vw;
    padding: 2vh;
    border: 0.2vw solid #ccc;
    border-radius: 1vw;
    box-sizing: border-box;
}
.form-group input[type="submit"] {
    width: 40vw;
    height:7vh;
    background-color: var(--gg);
    color: #fff;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left:5vw;
    margin-top:1vw;
}
.form-group input[type="submit"]:hover {
    background-color: var(--g);
}
